{% extends 'base.html.twig' %}

{% block title %}Conditions générales | JVGO Business Builder{% endblock %}

{% block stylesheets %}
    <style>
        .bg-faded {
            background-color: rgba(0,0,0,0.9);
        }
    </style>
{% endblock %}

{% block body %}

<div class="container mt-5">
	<div class="row">
		<div class="col-lg-12 col-md-12" style="margin-bottom: 10px; margin-top: 100px">
            
<p class="p1"><span class="s1"><strong>CONDITIONS GENERALES D&rsquo;UTILISATION ET DE VENTE</strong></span></p>
<p class="p1"><span class="s2">Mises &agrave; jour le 27/01/2022</span></p>
<p class="p2"><br></p>
<p class="p3"><span class="s2">Le site internet&nbsp;:<br><span class="Apple-converted-space"></span>www.jvgo.be (Ci-apr&egrave;s la plateforme)</span></p>
<p class="p3"><span class="s2">Est une initiative de&nbsp;: JVGO Business Builder</span></p>
<p class="p5"><span class="s2">Avenue Louise, 207<span class="Apple-converted-space">&nbsp;</span></span></p>
<p class="p5"><span class="s2">1050 Bruxelles<span class="Apple-converted-space">&nbsp;</span></span></p>
<p class="p5"><span class="s2">Belgique</span></p>
<p class="p3"><span class="s2">N&deg; d&apos;entreprise (BCE/TVA)&nbsp;: BE 0508.809.144</span></p>
<p class="p5"><span class="s2">Email : info.jvgo@gmail.com</span></p>
<p class="p3"><span class="s2">T&eacute;l&eacute;phone : +32 (0)477506867 <span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span></p>
<p class="p4"><span class="s2">(Ci-apr&egrave;s ou encore le vendeur)</span></p>
<p class="p6"><br></p>
<p class="p1"><span class="s2"><strong>I. CONDITIONS G&Eacute;N&Eacute;RALES D&apos;UTILISATION</strong></span></p>
<p class="p7"><strong>1. Champ d&apos;application</strong></p>
<p class="p7">Les pr&eacute;sentes conditions g&eacute;n&eacute;rales d&apos;utilisation (ci-apr&egrave;s les &quot;CGU&quot;) s&apos;appliquent &agrave; toute visite ou utilisation de la Plateforme et de ses informations par un internaute (ci-apr&egrave;s &quot;utilisateur &quot;).</p>
<p class="p7">En visitant ou utilisant la Plateforme, l&apos;Utilisateur reconnait avoir pris connaissance des pr&eacute;sentes CGU et accepte express&eacute;ment les droits et obligations qui y sont mentionn&eacute;s.</p>
<p class="p7">Il peut exceptionnellement &ecirc;tre d&eacute;rog&eacute; aux dispositions des CGU par un accord &eacute;crit. Ces d&eacute;rogations peuvent consister en la modification, l&apos;ajout ou la suppression des clauses auxquelles elles se rapportent et n&apos;ont aucune incidence sur l&apos;application des autres dispositions des CGU.</p>
<p class="p7">Nous nous r&eacute;servons le droit de modifier nos CGU &agrave; tout moment, sans notification pr&eacute;alable, mais nous nous engageons &agrave; appliquer les dispositions qui &eacute;taient en vigueur au moment o&ugrave; vous avez utilis&eacute; notre Plateforme.</p>
<p class="p8"><br></p>
<p class="p8"><br></p>
<p class="p8"></p>
<p class="p7"><strong>2. Plateforme</strong></p>
<p class="p7">a. <span class="s3">Acc&egrave;s et navigation<span class="Apple-converted-space">&nbsp;</span></span></p>
<p class="p7">Nous prenons toutes les mesures raisonnables et n&eacute;cessaires pour assurer le bon fonctionnement, la s&eacute;curit&eacute; et l&apos;accessibilit&eacute; de notre Plateforme. Toutefois, nous ne pouvons pas offrir de garantie d&apos;op&eacute;rabilit&eacute; absolue et il faut d&egrave;s lors consid&eacute;rer nos actions comme &eacute;tant couvertes par une obligation de moyen.</p>
<p class="p7">Toute utilisation de la Plateforme se fait toujours aux propres risques de l&apos;Utilisateur. Ainsi, nous ne sommes pas responsables des dommages pouvant r&eacute;sulter de possibles dysfonctionnements, interruptions, d&eacute;fauts ou encore d&apos;&eacute;l&eacute;ments nuisibles pr&eacute;sents sur la Plateforme.</p>
<p class="p7">Nous nous r&eacute;servons le droit de restreindre l&apos;acc&egrave;s &agrave; la Plateforme ou d&apos;interrompre son fonctionnement &agrave; tout moment, sans obligation de notification pr&eacute;alable.</p>
<p class="p8"><br></p>
<p class="p7">b. <span class="s3">Contenu<span class="Apple-converted-space">&nbsp;</span></span></p>
<p class="p7">JVGO business Builder d&eacute;termine en grande partie le contenu de la Plateforme et prend grand soin des informations pr&eacute;sentes sur celle-ci. Nous prenons toutes les mesures possibles pour maintenir notre Plateforme aussi compl&egrave;te, pr&eacute;cise et &agrave; jour que possible, m&ecirc;me lorsque les informations pr&eacute;sentes sur celle-ci sont fournies par des tiers. Nous nous r&eacute;servons le droit de modifier, compl&eacute;ter ou supprimer &agrave; tout moment la Plateforme et son contenu, sans que sa responsabilit&eacute; ne puisse &ecirc;tre engag&eacute;e.</p>
<p class="p7">JVGO business Builder ne peut pas offrir de garantie absolue concernant la qualit&eacute; de l&apos;information pr&eacute;sente sur la Plateforme. Il est donc possible que cette information ne soit pas toujours compl&egrave;te, exacte, suffisamment pr&eacute;cise ou &agrave; jour. Par cons&eacute;quent, JVGO business Builder ne pourra pas &ecirc;tre tenue responsable des dommages, directs ou indirects, que l&apos;Utilisateur subirait de par l&apos;information pr&eacute;sente sur la Plateforme.</p>
<p class="p7">Si certains contenus de la Plateforme sont en violation avec la loi ou les droits des tiers, ou sont contraires &agrave; la morale, nous vous demandons de nous en informer le plus rapidement possible par mail afin que nous puissions prendre des mesures appropri&eacute;es.</p>
<p class="p7">Tout t&eacute;l&eacute;chargement &agrave; partir de la Plateforme a toujours lieu aux risques de l&apos;Utilisateur. JVGO business Builder ne pourra pas &ecirc;tre tenue responsable des &eacute;ventuels dommages, directs ou indirects, d&eacute;coulant de ces t&eacute;l&eacute;chargements, tels qu&apos;une perte de donn&eacute;es ou un endommagement du syst&egrave;me informatique de l&apos;Utilisateur, qui rel&egrave;vent enti&egrave;rement et exclusivement de la responsabilit&eacute; de ce dernier.</p>
<p class="p8"><br></p>
<p class="p7">c. <span class="s3">Services r&eacute;serv&eacute;s aux Utilisateurs inscrits</span></p>
<p class="p7"><em>1) Inscription<span class="Apple-converted-space">&nbsp;</span></em></p>
<p class="p7">L&apos;acc&egrave;s &agrave; certains services est conditionn&eacute; par l&apos;inscription de l&apos;Utilisateur.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p7">L&apos;inscription et l&apos;acc&egrave;s aux services de la Plateforme sont r&eacute;serv&eacute;s exclusivement aux personnes physiques capables juridiquement, ayant rempli et valid&eacute; le formulaire d&apos;inscription disponible en ligne sur la Plateforme ainsi que les pr&eacute;sentes CGU.</p>
<p class="p7">Lors de son inscription, l&apos;Utilisateur s&apos;engage &agrave; fournir des informations exactes, sinc&egrave;res et &agrave; jour sur sa personne et son &eacute;tat civil. L&apos;Utilisateur devra en outre proc&eacute;der &agrave; une v&eacute;rification r&eacute;guli&egrave;re des donn&eacute;es le concernant afin d&apos;en conserver l&apos;exactitude.</p>
<p class="p7">L&apos;Utilisateur doit ainsi fournir imp&eacute;rativement une adresse e-mail valide, sur laquelle la Plateforme lui adressera une confirmation de son inscription &agrave; ses services. Une adresse de messagerie &eacute;lectronique ne peut &ecirc;tre utilis&eacute;e plusieurs fois pour s&apos;inscrire aux services.</p>
<p class="p7">Toute communication r&eacute;alis&eacute;e par la Plateforme et ses partenaires est en cons&eacute;quence r&eacute;put&eacute;e avoir &eacute;t&eacute; r&eacute;ceptionn&eacute;e et lue par l&apos;Utilisateur. Ce dernier s&apos;engage donc &agrave; consulter r&eacute;guli&egrave;rement les messages re&ccedil;us sur cette adresse e-mail et, le cas &eacute;ch&eacute;ant, &agrave; r&eacute;pondre dans un d&eacute;lai raisonnable.</p>
<p class="p7">Une seule inscription est admise par personne physique.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p7">L&apos;Utilisateur se voit attribuer un identifiant lui permettant d&apos;acc&eacute;der &agrave; un espace dont l&apos;acc&egrave;s lui est r&eacute;serv&eacute; (ci-apr&egrave;s &quot; <span class="s2"><strong>Espace personnel</strong></span> &quot;), en compl&eacute;ment de la saisie de son mot de passe.</p>
<p class="p7">L&apos;identifiant et le mot de passe sont modifiables en ligne par l&apos;Utilisateur dans son Espace personnel. Le mot de passe est personnel et confidentiel, l&apos;Utilisateur s&apos;engage ainsi &agrave; ne pas le communiquer &agrave; des tiers.</p>
<p class="p7">JVGO business Builder se r&eacute;serve en tout &eacute;tat de cause la possibilit&eacute; de refuser une demande d&apos;inscription aux services de la Plateforme en cas de non-respect par l&apos;Utilisateur des CGU.</p>
<p class="p8"><br></p>
<p class="p7"><em>2) D&eacute;sinscription<span class="Apple-converted-space">&nbsp;</span></em></p>
<p class="p7">L&apos;Utilisateur r&eacute;guli&egrave;rement inscrit pourra &agrave; tout moment demander sa d&eacute;sinscription en se rendant sur la page d&eacute;di&eacute;e dans son Espace personnel. Toute d&eacute;sinscription de la Plateforme sera effective dans les plus brefs d&eacute;lais apr&egrave;s que l&apos;Utilisateur ait rempli le formulaire pr&eacute;vu &agrave; cet effet.</p>
<p class="p8"><br></p>
<p class="p7">d. <span class="s3">Contenu publi&eacute; par l&apos;Utilisateur</span><span class="Apple-converted-space">&nbsp;</span></p>
<p class="p7">L&apos;utilisateur s&apos;engage au respect des lois en vigueur &agrave; travers chacune de ses publications sur la Plateforme. Il sera particuli&egrave;rement attentif aux int&eacute;r&ecirc;ts des tiers, au contenu &agrave; caract&egrave;re offensant ainsi qu&apos;au contenu susceptible d&apos;&ecirc;tre contraire &agrave; l&apos;ordre public ou aux m&oelig;urs. L&apos;Utilisateur demeure responsable de tout contenu publi&eacute; sur la Plateforme.</p>
<p class="p7">La Plateforme peut exercer une mod&eacute;ration sur toute publication et refuser la mise en ligne de contenu sans devoir fournir de justification. Au m&ecirc;me titre, le contenu publi&eacute; par un Utilisateur pourra &ecirc;tre modifi&eacute; ou supprim&eacute; sans motif ni d&eacute;lai.</p>
<p class="p7">En publiant sur la Plateforme, l&apos;Utilisateur c&egrave;de gratuitement et &agrave; titre non exclusif &agrave; JVGO business Builder le droit de repr&eacute;senter, reproduire, adapter, modifier, distribuer et diffuser, directement ou indirectement ainsi que sur tout support et dans le monde entier le contenu publi&eacute;.</p>
<p class="p8"><br></p>
<p class="p7"><strong>3. Liens vers d&apos;autres sites internet</strong></p>
<p class="p7">La Plateforme pourrait contenir des liens ou hyperliens renvoyant vers des sites internet externes. De tels liens ne signifient pas de mani&egrave;re automatique qu&apos;il existe une relation entre JVGO business Builder et le site internet externe ou m&ecirc;me qu&apos;un accord implicite existe avec le contenu de ces sites externes.</p>
<p class="p7">JVGO business Builder n&apos;exerce aucun contr&ocirc;le sur les sites internet externes. Nous ne sommes donc pas responsables du fonctionnement s&ucirc;r et correct des hyperliens et de leur destination finale. D&egrave;s l&apos;instant o&ugrave; l&apos;Utilisateur clique sur l&apos;hyperlien, il quitte la Plateforme. Nous ne pouvons d&egrave;s lors pas &ecirc;tre tenus responsables en cas de dommage ult&eacute;rieur.</p>
<p class="p8"><br></p>
<p class="p7"><strong>4. Propri&eacute;t&eacute; intellectuelle</strong></p>
<p class="p7">La structuration de la Plateforme, mais aussi les textes, graphiques, images, photographies, sons, vid&eacute;os, bases de donn&eacute;es, applications informatiques, etc. qui le composent ou qui sont accessibles via la Plateforme sont la propri&eacute;t&eacute; de l&apos;&eacute;diteur et sont prot&eacute;g&eacute;s comme tels par les lois en vigueur au titre de la propri&eacute;t&eacute; intellectuelle.</p>
<p class="p7">Toute repr&eacute;sentation, reproduction, adaptation ou exploitation partielle ou totale des contenus, marques d&eacute;pos&eacute;es et services propos&eacute;s par la Plateforme, par quelque proc&eacute;d&eacute; que ce soit, sans l&apos;autorisation pr&eacute;alable, expresse et &eacute;crite de l&apos;&eacute;diteur, est strictement interdite, &agrave; l&apos;exception des &eacute;l&eacute;ments express&eacute;ment d&eacute;sign&eacute;s comme libres de droits sur la Plateforme.</p>
<p class="p7">L&apos;Utilisateur de la Plateforme se voit octroyer un droit limit&eacute; d&apos;acc&egrave;s, d&apos;utilisation et d&apos;affichage de la Plateforme et de son contenu. Ce droit est accord&eacute; &agrave; titre non exclusif, non transf&eacute;rable et ne peut &ecirc;tre utilis&eacute; que moyennant un usage personnel et non commercial. Sauf accord pr&eacute;alable et &eacute;crit, les Utilisateurs ne sont pas autoris&eacute;s &agrave; modifier, reproduire, traduire, distribuer, vendre, communiquer au public, en tout ou en partie, les &eacute;l&eacute;ments prot&eacute;g&eacute;s.</p>
<p class="p7">Il est interdit &agrave; l&apos;Utilisateur d&apos;introduire des donn&eacute;es sur la Plateforme qui modifieraient ou qui seraient susceptibles d&apos;en modifier le contenu ou l&apos;apparence.</p>
<p class="p8"><br></p>
<p class="p7"><strong>5. Protection des donn&eacute;es personnelles</strong></p>
<p class="p7">Les donn&eacute;es personnelles fournies par l&apos;Utilisateur lors de sa visite ou de l&apos;utilisation de la Plateforme sont collect&eacute;es et trait&eacute;es par JVGO business Builder exclusivement &agrave; des fins internes.</p>
<p class="p7">JVGO business Builder assure &agrave; ses utilisateurs qu&apos;elle attache la plus grande importance &agrave; la protection de leur vie priv&eacute;e et de leurs donn&eacute;es personnelles, et qu&apos;elle s&apos;engage toujours &agrave; communiquer de mani&egrave;re claire et transparente sur ce point.</p>
<p class="p7">JVGO business Builder s&apos;engage &agrave; respecter la l&eacute;gislation applicable en la mati&egrave;re, &agrave; savoir la Loi du 8 d&eacute;cembre 1992 relative &agrave; la protection de la vie priv&eacute;e &agrave; l&apos;&eacute;gard des traitements de donn&eacute;es &agrave; caract&egrave;re personnel ainsi que le R&egrave;glement europ&eacute;en du 27 avril 2016 relatif &agrave; la protection des personnes physiques &agrave; l&apos;&eacute;gard du traitement des donn&eacute;es &agrave; caract&egrave;re personnel et &agrave; la libre circulation de ces donn&eacute;es.</p>
<p class="p7">Les donn&eacute;es personnelles de l&apos;Utilisateur sont trait&eacute;es conform&eacute;ment &agrave; la Charte de Vie Priv&eacute;e disponible sur la Plateforme.</p>
<p class="p8"><br></p>
<p class="p7"><strong>6.Dispositions g&eacute;n&eacute;rales<span class="Apple-converted-space">&nbsp;</span></strong></p>
<p class="p7">JVGO business Builder se r&eacute;serve la possibilit&eacute; de modifier, &eacute;tendre, supprimer, limiter ou interrompre la Plateforme et les services associ&eacute;s &agrave; tout moment, sans notification pr&eacute;alable, et sans engager sa responsabilit&eacute;.</p>
<p class="p7">En cas de violation des CGU par l&apos;Utilisateur, JVGO business Builder se r&eacute;serve le droit de prendre des mesures de sanction et de r&eacute;paration adapt&eacute;es.</p>
<p class="p7">JVGO business Builder se r&eacute;serve notamment le droit de refuser &agrave; l&apos;Utilisateur tout acc&egrave;s &agrave; la Plateforme ou &agrave; nos services temporairement ou d&eacute;finitivement. Ces mesures peuvent &ecirc;tre prises sans indication de motif et sans pr&eacute;avis. Elles ne peuvent pas engager la responsabilit&eacute; de JVGO business Builder ou donner lieu &agrave; une quelconque forme d&apos;indemnisation.</p>
<p class="p7">L&apos;ill&eacute;galit&eacute; ou la nullit&eacute; totale ou partielle d&apos;une disposition de nos CGU n&apos;aura aucun impact sur la validit&eacute; et l&apos;application des autres dispositions. Nous disposons, dans un tel cas, du droit de remplacer la disposition par une autre disposition valable et de port&eacute;e similaire.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p8"><br></p>
<p class="p8"><br></p>
<p class="p9"><strong>II. CONDITIONS G&Eacute;N&Eacute;RALES DE VENTE</strong></p>
<p class="p7"><strong>1. Champ d&apos;application</strong></p>
<p class="p7">Les pr&eacute;sentes conditions g&eacute;n&eacute;rales de vente (ci-apr&egrave;s les &quot;CGV &quot;) d&eacute;finissent les droits et obligations r&eacute;ciproques en cas d&apos;achat de produits ou de services sur la Plateforme par un Utilisateur (ci-apr&egrave;s &quot; Client &quot;).<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p7">Les CGV expriment l&apos;int&eacute;gralit&eacute; des obligations des parties. Le Client est r&eacute;put&eacute; les accepter sans r&eacute;serve, faute de quoi sa commande ne sera pas valid&eacute;e.</p>
<p class="p7">Il peut exceptionnellement &ecirc;tre d&eacute;rog&eacute; aux dispositions des CGV dans la mesure o&ugrave; ces d&eacute;rogations ont fait l&apos;objet d&apos;un accord &eacute;crit. Ces d&eacute;rogations peuvent consister en la modification, l&apos;ajout ou la suppression des clauses auxquelles elles se rapportent et n&apos;ont aucune incidence sur l&apos;application des autres dispositions des CGV.</p>
<p class="p7">JVGO business Builder se r&eacute;serve le droit de modifier ponctuellement les CGV. Les modifications seront applicables d&egrave;s leur mise en ligne pour tout achat post&eacute;rieur &agrave; cette date.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p8"><br></p>
<p class="p7"><strong>2. Boutique en ligne</strong></p>
<p class="p7">Par l&apos;interm&eacute;diaire de la Plateforme, le Vendeur fournit au Client une boutique en ligne pr&eacute;sentant les produits ou services vendus, sans que les photographies aient une valeur contractuelle.</p>
<p class="p7">Les produits ou services sont d&eacute;crits et pr&eacute;sent&eacute;s avec la plus grande exactitude possible. Toutefois, en cas d&apos;erreurs ou omissions dans la pr&eacute;sentation, la responsabilit&eacute; du Vendeur ne pourra &ecirc;tre engag&eacute;e de ce fait.</p>
<p class="p7">Les produits et services sont propos&eacute;s dans la limite de leur disponibilit&eacute;.</p>
<p class="p7">Les prix et les taxes sont pr&eacute;cis&eacute;s dans la boutique en ligne.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p8"><br></p>
<p class="p7"><strong>3. Prix</strong></p>
<p class="p7">Le Vendeur se r&eacute;serve le droit de modifier ses prix &agrave; tout moment en les publiant en ligne.</p>
<p class="p7">Seuls s&apos;appliqueront les tarifs indiqu&eacute;s et les taxes en vigueur au moment de la commande, sous r&eacute;serve de disponibilit&eacute; &agrave; cette date.</p>
<p class="p7">Les prix sont indiqu&eacute;s en euros et ne tiennent pas compte des &eacute;ventuels frais de livraison, lesquels sont indiqu&eacute;s et factur&eacute;s en suppl&eacute;ment avant la validation de la commande par le Client.</p>
<p class="p7">Le montant total de la commande (toutes taxes comprises) et, le cas &eacute;ch&eacute;ant, des frais de livraison est indiqu&eacute; avant validation finale du bon de commande.</p>
<p class="p8"><br></p>
<p class="p7"><strong>4. Commande en ligne</strong></p>
<p class="p7">Le Client a la possibilit&eacute; de remplir un bon de commande en ligne, au moyen d&apos;un formulaire &eacute;lectronique. En remplissant le formulaire &eacute;lectronique, le Client accepte le prix et la description des produits ou services.</p>
<p class="p7">Pour que sa commande soit valid&eacute;e, le Client devra accepter les pr&eacute;sentes CGV en cliquant &agrave; l&apos;endroit indiqu&eacute;.</p>
<p class="p7">Le Client devra fournir une adresse de courrier &eacute;lectronique, ses coordonn&eacute;es de facturations et, cas &eacute;ch&eacute;ant, une adresse de livraison valides. Tout &eacute;change avec le Vendeur pourra intervenir au moyen de cette adresse de courrier &eacute;lectronique.</p>
<p class="p7">De plus, le Client devra choisir le mode de livraison et valider le mode de paiement.</p>
<p class="p7">Le Vendeur se r&eacute;serve le droit de bloquer la commande du Client en cas de d&eacute;faut de paiement, d&apos;adresse erron&eacute;e ou de tout autre probl&egrave;me sur le compte du Client et ce, jusqu&apos;&agrave; r&eacute;solution du probl&egrave;me.</p>
<p class="p8"><br></p>
<p class="p7"><strong>5. Confirmation et paiement de la commande</strong></p>
<p class="p7">Le Vendeur reste propri&eacute;taire des articles command&eacute;s jusqu&apos;&agrave; la r&eacute;ception du paiement int&eacute;gral de la commande.</p>
<p class="p7">a. <span class="s3">Paiement</span></p>
<p class="p7">Le Client effectue le paiement au moment de la validation finale de la commande en utilisant le mode de paiement choisi. Cette validation tient lieu de signature.</p>
<p class="p7">Le Client garantit au Vendeur qu&apos;il dispose des autorisations n&eacute;cessaires pour utiliser ce mode de paiement et reconnait que les informations donn&eacute;es &agrave; cet effet valent preuve de son consentement &agrave; la vente comme &agrave; l&apos;exigibilit&eacute; des sommes dues au titre de la commande.</p>
<p class="p7">Le Vendeur a mis en place une proc&eacute;dure de v&eacute;rification des commandes et des moyens de paiement destin&eacute;s &agrave; le garantir raisonnablement contre toute utilisation frauduleuse d&apos;un moyen de paiement, y compris en demandant au Client des donn&eacute;es d&apos;identification.</p>
<p class="p7">En cas de refus d&apos;autorisation de paiement par carte bancaire de la part des organismes accr&eacute;dit&eacute;s ou en cas de non-paiement, le Vendeur se r&eacute;serve le droit de suspendre ou d&apos;annuler la commande et sa livraison.</p>
<p class="p7">Le Vendeur se r&eacute;serve &eacute;galement le droit de refuser une commande &eacute;manant d&apos;un Client qui n&apos;aurait pas r&eacute;gl&eacute; totalement ou partiellement une commande pr&eacute;c&eacute;dente ou avec lequel un litige de paiement serait en cours.</p>
<p class="p8"><br></p>
<p class="p7">b. <span class="s3">Confirmation<span class="Apple-converted-space">&nbsp;</span></span></p>
<p class="p7">D&egrave;s r&eacute;ception de la validation de l&apos;achat assortie du paiement, le Vendeur en transmet au Client, ainsi qu&apos;une facture, sauf livraison de cette derni&egrave;re avec la commande.</p>
<p class="p7">Le Client peut demander l&apos;envoi de la facture &agrave; une autre adresse que celle de livraison en adressant une demande &agrave; cet effet au service client (<strong>voir coordonn&eacute;es ci-dessous</strong>) avant la livraison.</p>
<p class="p7">En cas d&apos;indisponibilit&eacute; d&apos;un service ou d&apos;un produit, le Vendeur tiendra le Client inform&eacute; par courrier &eacute;lectronique dans les meilleurs d&eacute;lais afin de le remplacer ou d&apos;annuler la commande de ce produit et &eacute;ventuellement de rembourser le prix aff&eacute;rent, le reste de la commande demeurant ferme et d&eacute;finitif.</p>
<p class="p8"><br></p>
<p class="p8"><br></p>
<p class="p8"><br></p>
<p class="p7"><strong>6. Preuve</strong></p>
<p class="p7">Les communications, commandes et paiements intervenus entre le Client et le Vendeur pourront &ecirc;tre prouv&eacute;s gr&acirc;ce aux registres informatis&eacute;s, conserv&eacute;s dans les syst&egrave;mes informatiques du Vendeur dans des conditions raisonnables de s&eacute;curit&eacute;. Les bons de commandes et factures sont archiv&eacute;s sur un support fiable et durable consid&eacute;r&eacute;, notamment, comme un moyen de preuve.</p>
<p class="p8"><br></p>
<p class="p7"><strong>7. Livraison</strong></p>
<p class="p7">La livraison n&apos;est faite qu&apos;apr&egrave;s confirmation du paiement par l&apos;organisme bancaire du Vendeur.</p>
<p class="p7">Les produits sont livr&eacute;s &agrave; l&apos;adresse indiqu&eacute;e par le Client sur le formulaire en ligne valant bon de commande. Les frais suppl&eacute;mentaires d&eacute;coulant d&apos;informations incompl&egrave;tes ou erron&eacute;es par le Client lui seront factur&eacute;es. Pour des raisons de disponibilit&eacute;, une commande pourra faire l&apos;objet de plusieurs livraisons successives au Client.</p>
<p class="p7">La livraison intervient, selon le mode choisi par le Client, dans les d&eacute;lais suivants :</p>
<p class="p7"><strong>Livraison premium</strong> : 24h</p>
<p class="p7"><strong>Livraison express&nbsp;</strong>: 2-3 jours</p>
<p class="p7"><strong>Livraison standard</strong> : 5-7 jours</p>
<p class="p7">Les d&eacute;lais de livraison sont donn&eacute;s &agrave; titre indicatif. Aucune indemnit&eacute; ne pourra &ecirc;tre r&eacute;clam&eacute;e au Vendeur ou au transporteur en cas de retard de livraison. Si les d&eacute;lais de livraison d&eacute;passent trente jours &agrave; compter de la commande, le contrat de vente pourra toutefois &ecirc;tre r&eacute;sili&eacute; et le Client rembours&eacute;.</p>
<p class="p8"><br></p>
<p class="p7">a. <span class="s3">V&eacute;rification de la commande</span><span class="Apple-converted-space">&nbsp;</span></p>
<p class="p7">A la r&eacute;ception des produits, le Client ou le destinataire v&eacute;rifie le bon &eacute;tat du produit livr&eacute; ou la conformit&eacute; du service fourni.</p>
<p class="p7">Dans l&apos;hypoth&egrave;se o&ugrave; l&apos;un ou plusieurs des produits command&eacute;s sont manquants ou ab&icirc;m&eacute;s, le Client ou le destinataire doit formuler les r&eacute;serves n&eacute;cessaires au transporteur au moment de la livraison et imm&eacute;diatement en faire part au Vendeur.</p>
<p class="p7">La v&eacute;rification est consid&eacute;r&eacute;e comme effectu&eacute;e d&egrave;s lors que le Client ou une personne autoris&eacute;e par lui a r&eacute;ceptionn&eacute; la commande sans &eacute;mettre de r&eacute;serves.</p>
<p class="p7">Toute r&eacute;serve non effectu&eacute;e dans les r&egrave;gles d&eacute;finies ci-dessus et dans les d&eacute;lais impartis ne pourra &ecirc;tre prise en compte et d&eacute;gagera le Vendeur de toute responsabilit&eacute; vis-&agrave;-vis du Client</p>
<p class="p7">b. <span class="s3">Erreur de livraison</span><span class="Apple-converted-space">&nbsp;</span></p>
<p class="p7">En cas d&apos;erreur de livraison ou de non-conformit&eacute; des produits par rapport aux indications figurant sur le bon de commande, le Client en informe le Vendeur dans les trois jours ouvrables suivant la date de livraison.</p>
<p class="p7">Toute r&eacute;clamation non effectu&eacute;e dans le d&eacute;lai imparti ne pourra &ecirc;tre prise en compte et d&eacute;gagera le Vendeur de toute responsabilit&eacute; vis-&agrave;-vis du Client.</p>
<p class="p8"><br></p>
<p class="p7">c. <span class="s3">Retours et &eacute;changes</span><span class="Apple-converted-space">&nbsp;</span></p>
<p class="p7">Le produit &agrave; &eacute;changer ou &agrave; rembourser devra &ecirc;tre retourn&eacute; au Vendeur dans son ensemble et dans son emballage d&apos;origine, selon les modalit&eacute;s suivantes : Produit &agrave; retourner par courrier dans un d&eacute;lai de 30 jours &agrave; compter de la date de livraison de la commande, &agrave; l&rsquo;adresse suivante :<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p3"><span class="s2">JVGO Business Builder</span></p>
<p class="p3"><span class="s2">Avenue Louise, 207<span class="Apple-converted-space">&nbsp;</span></span></p>
<p class="p10"><span class="s2">1050 Bruxelles, Belgique</span></p>
<p class="p7">Toute r&eacute;clamation et tout retour non effectu&eacute; dans les r&egrave;gles d&eacute;finies ci-dessus et dans les d&eacute;lais impartis ne pourra &ecirc;tre pris en compte et d&eacute;gagera le Vendeur de toute responsabilit&eacute; vis-&agrave;-vis du Client.</p>
<p class="p7">Tout produit &agrave; &eacute;changer ou &agrave; rembourser devra &ecirc;tre retourn&eacute; au Vendeur dans son ensemble et dans son emballage d&apos;origine. Les frais de retour sont &agrave; la charge du Vendeur.</p>
<p class="p8"><br></p>
<p class="p7"><strong>8. Garanties</strong></p>
<p class="p7">Le Vendeur est garant de la conformit&eacute; des produits ou services au contrat conform&eacute;ment &agrave; la loi en vigueur au moment de la conclusion de celui-ci.</p>
<p class="p7">*<span class="s3">Garantie de conformit&eacute;<span class="Apple-converted-space">&nbsp;</span></span></p>
<p class="p7">Si le Client est un consommateur, il dispose d&apos;un d&eacute;lai de deux ans &agrave; compter de la d&eacute;livrance du produit pour mettre en &oelig;uvre la garantie l&eacute;gale de conformit&eacute;. Nonobstant, si le produit achet&eacute; &eacute;tait un bien de seconde main, le d&eacute;lai de garantie est d&apos;un an.</p>
<p class="p7">Le d&eacute;faut de conformit&eacute; doit &ecirc;tre signal&eacute; au Vendeur dans les meilleurs d&eacute;lais et, en tout &eacute;tat de cause, au plus tard deux mois apr&egrave;s la constatation de celui-ci.</p>
<p class="p8"><br></p>
<p class="p7"><strong>9. Droit de r&eacute;tractation</strong></p>
<p class="p7">Si le Client est un consommateur, il pourra faire valoir son droit de r&eacute;tractation l&eacute;gal dans un d&eacute;lai de 14 jours ouvrables suivant la livraison du bien ou la conclusion du contrat de service.</p>
<p class="p7">Apr&egrave;s avoir communiqu&eacute; sa d&eacute;cision de se r&eacute;tracter, le Client dispose alors de 14 jours pour renvoyer ou restituer les biens.</p>
<p class="p7">Toute r&eacute;tractation non effectu&eacute;e selon les r&egrave;gles et les d&eacute;lais d&eacute;finis par le pr&eacute;sent article ne pourra &ecirc;tre prise en compte et d&eacute;gagera le Vendeur de toute responsabilit&eacute; vis-&agrave;-vis du Client.</p>
<p class="p7">Le Client pourra demander le remboursement du produit retourn&eacute;, sans p&eacute;nalit&eacute;, les frais de retour &eacute;tant pris en charge par le Vendeur.</p>
<p class="p7">Le retour ou l&apos;&eacute;change du produit ne pourra &ecirc;tre accept&eacute; que pour les produits dans leur ensemble, intacts et dans leur &eacute;tat d&apos;origine, en particulier avec un emballage complet, intact et en &eacute;tat de vente.</p>
<p class="p7">Le Vendeur devra rembourser le Client de la totalit&eacute; des sommes vers&eacute;es, y compris les frais de livraison, dans les 14 jours de la r&eacute;cup&eacute;ration des biens ou de la transmission d&apos;une preuve de l&apos;exp&eacute;dition de ces biens.</p>
<p class="p7">Si la commande concerne, en tout ou en partie, un contenu num&eacute;rique non fourni sur un support mat&eacute;riel, le Client accepte par la pr&eacute;sente de perdre, pour ce contenu num&eacute;rique, son droit de r&eacute;tractation afin d&apos;&ecirc;tre livr&eacute; dans les plus brefs d&eacute;lais.</p>
<p class="p7">Si la commande concerne, en tout ou en partie, la fourniture de services, le Client renonce par la pr&eacute;sente, pour ces services, &agrave; son droit de r&eacute;tractation afin d&apos;&ecirc;tre fourni dans les plus brefs d&eacute;lais suivant la conclusion du contrat.</p>
<p class="p8"><br></p>
<p class="p9"><span class="s3"><strong>Mod&egrave;le de formulaire de r&eacute;tractation</strong></span></p>
<p class="p7">&Agrave; l&apos;attention de JVGO Business Builder</p>
<p class="p5"><span class="s2">Avenue Louise, 207<span class="Apple-converted-space">&nbsp;</span></span></p>
<p class="p5"><span class="s2">1050 Bruxelles<span class="Apple-converted-space">&nbsp;</span></span></p>
<p class="p5"><span class="s2">Belgique</span></p>
<p class="p3"><span class="s2">N&deg; d&apos;entreprise (BCE/TVA)&nbsp;: BE 0508.809.144</span></p>
<p class="p5"><span class="s2">Email : info.jvgo@gmail.com</span></p>
<p class="p3"><span class="s2">T&eacute;l&eacute;phone : +32 (0)477506867</span></p>
<p class="p7">Je/Nous (*) vous notifie/notifions (*) par la pr&eacute;sente ma/notre (*) r&eacute;tractation du contrat portant sur la vente du bien (*) /pour la prestation de service (*) ci-dessous :</p>
<p class="p7">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;...</p>
<p class="p7">Command&eacute; le (*) /re&ccedil;u le (*) : &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p class="p7">Nom du (des) consommateur(s) : &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</p>
<p class="p7">Adresse du (des) consommateur(s) : &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p class="p7">Signature du (des) consommateur(s) (uniquement en cas de notification du pr&eacute;sent formulaire sur papier) : &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p class="p7">Date : &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p class="p7"><em>*Biffez la mention inutile</em></p>
<p class="p8"><br></p>
<p class="p7"><strong>10. Force majeure</strong></p>
<p class="p7">Si le Vendeur se voit emp&ecirc;ch&eacute;, en tout ou en partie, d&apos;ex&eacute;cuter la commande en raison d&apos;une circonstance impr&eacute;vue et ind&eacute;pendante de sa volont&eacute;, il est alors question de force majeure.</p>
<p class="p7">En cas de force majeure, le Vendeur est autoris&eacute; &agrave; suspendre l&apos;ex&eacute;cution de la commande, en tout ou en partie, pendant toute la dur&eacute;e de la force majeure. Le Vendeur en avertit imm&eacute;diatement le Client.</p>
<p class="p7">Si la force majeure perdure plus de 90 jours sans interruption, chacune des parties au contrat aura le droit de r&eacute;silier le contrat unilat&eacute;ralement, par lettre recommand&eacute;e envoy&eacute;e &agrave; l&apos;autre partie. Les prestations d&eacute;j&agrave; r&eacute;alis&eacute;es par le Vendeur seront n&eacute;anmoins factur&eacute;es en proportion au Client.</p>
<p class="p8"><br></p>
<p class="p7"><strong>11. Ind&eacute;pendance des clauses</strong></p>
<p class="p7">L&apos;ill&eacute;galit&eacute; ou la nullit&eacute; totale ou partielle d&apos;une disposition des pr&eacute;sentes CGV n&apos;aura aucun impact sur la validit&eacute; et l&apos;application des autres dispositions. Le Vendeur se r&eacute;serve le droit de remplacer la disposition ill&eacute;gale ou nulle par une autre disposition valable et de port&eacute;e similaire.</p>
<p class="p8"><br></p>
<p class="p7"><strong>12. Loi applicable et juridiction comp&eacute;tente</strong></p>
<p class="p7">Les pr&eacute;sentes CGV sont r&eacute;gies par le droit belge.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p7">En cas de diff&eacute;rend et &agrave; d&eacute;faut d&apos;accord amiable, le litige sera port&eacute; devant les tribunaux de l&apos;arrondissement judiciaire du si&egrave;ge social du Vendeur.</p>
<p class="p8"><br></p>
<p class="p8"><span class="Apple-converted-space">&nbsp;</span></p>
		</div>
	</div>
</div>
		
{% endblock %}
