{% extends 'base.html.twig' %}

{% block title %}Mentions légales| JVGO Business Builder{% endblock %}

{% block stylesheets %}
    <style>
        .bg-faded {
            background-color: rgba(0,0,0,0.9);
        }
    </style>
{% endblock %}

{% block body %}

<div class="container mt-5">
	<div class="row">
		<div class="col-lg-12 col-md-12" style="margin-bottom: 10px; margin-top: 100px">


<p class="p1" style="font-size: 20px; font-weight: bold"><span class="s1">MENTIONS LEGALES<span class="Apple-converted-space">&nbsp;&nbsp;</span>JVGO</span></p>
<p class="p3"><span class="s2">En acc&eacute;dant et en parcourant le site Internet www.jvgo.be, le visiteur accepte, sans r&eacute;serve, la pr&eacute;sente notice l&eacute;gale. Cette notice peut &ecirc;tre modifi&eacute;e, &agrave; tout moment, par simple publication sur le site Internet pr&eacute;cit&eacute; d&rsquo;une nouvelle notice, et ce, sans n&eacute;cessit&eacute; de faire parvenir une notification au visiteur du site Internet.</span></p>
<p class="p4"><br></p>
<p class="p3"><span class="s2">La modification entre en vigueur &agrave; la date de sa mise &agrave; disposition sur le site Internet.</span></p>
<p class="p3"><span class="s2">En cas de litige, seul le droit belge sera applicable et seuls les tribunaux de l&rsquo;arrondissement judiciaire du si&egrave;ge social de JVGO Business Builder seront comp&eacute;tents. JVGO Business Builder&nbsp;peut cependant d&eacute;cider de recourir &agrave; la m&eacute;diation, en faisant intervenir un m&eacute;diateur agr&eacute;&eacute; par la Commission f&eacute;d&eacute;rale de m&eacute;diation en vue de r&eacute;soudre le litige par cette voie.</span></p>
<p class="p4"><br></p>
<p class="p5"><span class="s2"><strong>Identification du propri&eacute;taire</strong></span></p>
<p class="p3"><span class="s2">www.jvgo.be est un site appartenant &agrave; JVGO Business Builder, enregistr&eacute;e aupr&egrave;s de la Banque-Carrefour des entreprises sous le num&eacute;ro BE 0508.809.144, ci-apr&egrave;s &laquo;&nbsp;JVGO Business Builder&nbsp;&raquo;.</span></p>
<p class="p3"><span class="s2">Il est g&eacute;r&eacute; par Val&eacute;rie De Coster, administrateur de JVGO Business Builder, propri&eacute;taire du site Internet.</span></p>
<p class="p3"><span class="s2">Le site Internet www.jvgo.be est un site Internet pr&eacute;sentant ses activit&eacute;s d&rsquo;aide &agrave; la cr&eacute;ation d&rsquo;entreprises et d&rsquo;optimisation fiscale.</span></p>
<p class="p3"><span class="s2">JVGO Business Builder, dans le cadre du pr&eacute;sent site, est joignable par e-mail &agrave; l&rsquo;adresse suivante&nbsp;: info.jvgo@gmail.com</span></p>
<p class="p4"><br></p>
<p class="p3"><span class="s2">Le pr&eacute;sent site est h&eacute;berg&eacute; par o2switch.</span></p>
<p class="p2"><br></p>

		</div>
	</div>
</div>
		
{% endblock %}
