{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité | JVGO Business Builder{% endblock %}

{% block stylesheets %}
    <style>
        .bg-faded {
            background-color: rgba(0,0,0,0.9);
        }
    </style>
{% endblock %}

{% block body %}

<div class="container mt-5">
	<div class="row">
		<div class="col-lg-12 col-md-12" style="margin-bottom: 10px; margin-top: 100px">
            <p class="p1"><span class="s1"><strong>POLITIQUE DE CONFIDENTIALITE</strong></span></p>
<p class="p1">Mises &agrave; jour le 26 /01/2022</p>
<p class="p2"><br></p>
<p class="p3"><strong><span class="Apple-converted-space">&nbsp;</span>1. Parties et Objet<span class="Apple-converted-space">&nbsp;</span></strong></p>
<p class="p3">JVGO Business Builder (ci-apr&egrave;s &quot;<strong>JVGO Business Builder</strong> &quot; ou le &quot; <strong>Responsable du Traitement&quot;</strong>)</p>
<p class="p4">Avenue Louise, 207 1050 Bruxelles, Belgique</p>
<p class="p3">N&deg; d&apos;entreprise (BCE/TVA) : BE 0508.809.144 <span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
<p class="p3">Email : info.jvgo@gmail.com<span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
<p class="p3">T&eacute;l&eacute;phone : +32 (0)477506867</p>
<p class="p2"><br></p>
<p class="p3">JVGO Business Builder &eacute;tablit la pr&eacute;sente Politique de confidentialit&eacute; dont l&apos;objet est d&apos;informer en toute transparence les Utilisateurs du site internet h&eacute;berg&eacute; &agrave; l&apos;adresse suivante :<span class="Apple-converted-space">&nbsp;&nbsp;</span>www.jvgo.be, (ci-apr&egrave;s le &quot; <strong>Site</strong>, &quot;), de la mani&egrave;re dont les donn&eacute;es personnelles sont r&eacute;colt&eacute;es et trait&eacute;es par JVGO Business Builder.</p>
<p class="p3">Le terme &quot;<strong>Utilisateur</strong> &quot; fait r&eacute;f&eacute;rence &agrave; tout utilisateur, soit toute personne physique ou morale, qui visite ou interagit d&apos;une quelconque mani&egrave;re avec le Site.</p>
<p class="p3">A ce titre, JVGO Business Builder d&eacute;termine tous les moyens et finalit&eacute;s techniques, juridiques et organisationnelles du traitement des donn&eacute;es personnelles des Utilisateurs.</p>
<p class="p3">JVGO Business Builder s&apos;engage &agrave; cet effet &agrave; prendre toutes les mesures n&eacute;cessaires pour garantir un traitement des donn&eacute;es personnelles conforme &agrave; la loi du 30 juillet 2018, relative &agrave; la protection des personnes physiques &agrave; l&apos;&eacute;gard des traitements des donn&eacute;es &agrave; caract&egrave;re personnel (ci-apr&egrave;s, &quot;la <strong>Loi&nbsp;</strong>&quot;) et au R&egrave;glement europ&eacute;en du 26 avril 2016 relatif &agrave; la protection des donn&eacute;es des personnes physiques &agrave; l&apos;&eacute;gard du traitement des donn&eacute;es &agrave; caract&egrave;re personnel et &agrave; la libre circulation de ces donn&eacute;es (ci-apr&egrave;s le &quot; <strong>R&egrave;glement</strong> &quot;).</p>
<p class="p3">JVGO Business Builder est libre de choisir toute personne physique ou morale qui traite les donn&eacute;es personnelles des utilisateurs &agrave; sa demande et pour son compte (ci-apr&egrave;s le &quot; <strong>Sous-traitant</strong> &quot;). Le cas &eacute;ch&eacute;ant, JVGO Business Builder s&apos;engage &agrave; s&eacute;lectionner un Sous-traitant offrant des garanties suffisantes quant aux mesures de s&eacute;curit&eacute; techniques et organisationnelles du traitement des donn&eacute;es personnelles, au regard de la Loi et du R&egrave;glement.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p2"><br></p>
<p class="p3"><strong>2. Traitement des donn&eacute;es personnelles</strong></p>
<p class="p3">L&apos;utilisation du Site par les Utilisateurs pourra entra&icirc;ner la communication de donn&eacute;es personnelles. Le traitement de ces donn&eacute;es par JVGO Business Builder, en sa qualit&eacute; de Responsable du traitement, ou par les prestataires agissant au nom et pour le compte de JVGO Business Builder, sera conforme &agrave; la Loi et au R&egrave;glement.</p>
<p class="p3">Les donn&eacute;es &agrave; caract&egrave;re personnel seront trait&eacute;es par JVGO Business Builder, conform&eacute;ment aux finalit&eacute;s cit&eacute;es plus bas, via :</p>
<ul class="ul1">
    <li class="li3">Une proc&eacute;dure automatis&eacute;e</li>
    <li class="li3">Le formulaire d&rsquo;inscription &agrave; la newsletter</li>
    <li class="li3">L&rsquo;utilisation des cookies</li>
    <li class="li3">L&rsquo;envoie d&rsquo;enqu&ecirc;te ou questionnaire</li>
    <li class="li3">Le partage de contenu gratuit</li>
</ul>
<p class="p2"><br></p>
<p class="p3"><strong>3. Finalit&eacute; du traitement des donn&eacute;es personnelles</strong></p>
<p class="p3">Conform&eacute;ment &agrave; l&apos;article 13 du R&egrave;glement, les finalit&eacute;s du traitement des donn&eacute;es personnelles sont communiqu&eacute;es &agrave; l&apos;Utilisateur et sont les suivantes :</p>
<ul class="ul1">
    <li class="li3">Assurer l&rsquo;ex&eacute;cution des services propos&eacute;s et convenus sur le site&nbsp;;</li>
    <li class="li3">Assurer le contr&ocirc;le de l&rsquo;ex&eacute;cution des services propos&eacute;s ;</li>
    <li class="li3">Effectuer les activit&eacute;s de marketing et d&rsquo;information promotionnelles apr&egrave;s consentement pr&eacute;alable de l&rsquo;utilisateur et jusqu&rsquo;&agrave; la r&eacute;vocation de ce consentement, par exemple l&rsquo;envoie de promotions sur les produits et services du responsable du traitement&nbsp;;</li>
    <li class="li3">R&eacute;pondre aux questions de l&rsquo;utilisateur&nbsp;;</li>
    <li class="li3">R&eacute;aliser des statistiques afin d&rsquo;am&eacute;liorer le site internet, les services propos&eacute;s et l&rsquo;organisation interne de fonctionnement&nbsp;;</li>
    <li class="li3">Am&eacute;liorer la qualit&eacute; du site et des produits et/ou services propos&eacute;s par le responsable du traitement&nbsp;;</li>
    <li class="li3">Permettre une meilleure identification des centres d&rsquo;int&eacute;r&ecirc;t de l&rsquo;utilisateur.</li>
</ul>
<p class="p2"><br></p>
<p class="p2"><br></p>
<p class="p3"><strong>4. Donn&eacute;es personnelles susceptibles d&apos;&ecirc;tre trait&eacute;es</strong></p>
<p class="p3">L&apos;Utilisateur consent, lors de la visite et lors de l&apos;utilisation du Site, que JVGO Business Builder recueille et traite, selon les modalit&eacute;s et principes d&eacute;crits dans la pr&eacute;sente Politique de confidentialit&eacute;, les donn&eacute;es &agrave; caract&egrave;re personnel suivantes :<span class="Apple-converted-space">&nbsp;</span></p>
<ul class="ul1">
    <li class="li3">Les informations des utilisateurs qu&rsquo;ils donnent &agrave; des fins contractuelles et pour permettre la bonne ex&eacute;cution des obligations r&eacute;ciproques, &agrave; savoir le nom, pr&eacute;nom, adresse, num&eacute;ro IBAN et donn&eacute;es bancaires, et plus g&eacute;n&eacute;ralement toute information volontairement donn&eacute;e par l&rsquo;utilisateur&nbsp;;</li>
    <li class="li3">Les informations des utilisateurs en remplissant des formulaires ou en contractant par t&eacute;l&eacute;phone, adresse &eacute;lectronique ou autre moyen par exemple le nom, l&rsquo;adresse &eacute;lectronique et le num&eacute;ro de t&eacute;l&eacute;phone des utilisateurs&nbsp;;</li>
    <li class="li3">En ce qui concerne chacune des visites des utilisateurs sur le site, les informations automatiquement recueillis sont :<span class="Apple-converted-space">&nbsp;</span></li>
</ul>
<p class="p3">-L&rsquo;adresse IP, le type et le mod&egrave;le de navigateur, le fuseau horaire, le syst&egrave;me d&rsquo;exploitation</p>
<p class="p3">- L&rsquo;ensemble de l&rsquo;information concernant les pages que l&rsquo;utilisateur a consult&eacute; sur le site, notamment l&rsquo;URL, le temps de navigation, etc.</p>
<p class="p2"><br></p>
<p class="p3"><strong>5. Consentement</strong></p>
<p class="p3">En acc&eacute;dant au Site et en l&apos;utilisant, l&apos;Utilisateur d&eacute;clare avoir pris connaissance et marqu&eacute; son accord de fa&ccedil;on libre, sp&eacute;cifique, &eacute;clair&eacute;e et univoque au traitement des donn&eacute;es &agrave; caract&egrave;re personnel la concernant. Cet accord porte sur le contenu de la pr&eacute;sente Politique de confidentialit&eacute;.</p>
<p class="p3">Le consentement est donn&eacute; par l&apos;acte positif par lequel l&apos;Utilisateur a coch&eacute; la case proposant la Politique de confidentialit&eacute; en lien hypertexte. Ce consentement est une condition indispensable pour effectuer certaines op&eacute;rations sur le Site ou pour permettre &agrave; l&apos;Utilisateur d&apos;entrer en relation contractuelle avec JVGO Business Builder. Tout contrat liant JVGO Business Builder et un Utilisateur portant sur les services et biens propos&eacute;s sur le Site est subordonn&eacute; &agrave; l&apos;acceptation de la Politique de confidentialit&eacute; par l&apos;Utilisateur.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p3">L&apos;Utilisateur consent &agrave; ce que le Responsable du Traitement traite et recueille, conform&eacute;ment aux modalit&eacute;s et principes compris dans la pr&eacute;sente Politique de confidentialit&eacute;, ses donn&eacute;es &agrave; caract&egrave;re personnel qu&apos;il communique sur le Site ou &agrave; l&apos;occasion des services propos&eacute;s par JVGO Business Builder, pour les finalit&eacute;s indiqu&eacute;es plus haut.</p>
<p class="p3">L&apos;Utilisateur a le droit de retirer son consentement &agrave; tout moment. Le retrait du consentement ne compromet pas la lic&eacute;it&eacute; du traitement fond&eacute; sur le consentement pr&eacute;alablement donn&eacute;.</p>
<p class="p2"><br></p>
<p class="p3"><strong>6. Dur&eacute;e de conservation des donn&eacute;es personnelles des Utilisateurs</strong></p>
<p class="p3">Conform&eacute;ment &agrave; l&apos;article 13 &sect;2 du R&egrave;glement et de la Loi, le Responsable du Traitement ne conserve les donn&eacute;es &agrave; caract&egrave;re personnel que pendant le temps raisonnablement n&eacute;cessaire pour permettre l&apos;accomplissement des finalit&eacute;s pour lesquelles elles sont trait&eacute;es.</p>
<p class="p3">Cette dur&eacute;e est dans tous les cas inf&eacute;rieurs &agrave; : 1 an</p>
<p class="p2"><br></p>
<p class="p3"><strong>7. Destinataires des donn&eacute;es et divulgation &agrave; des tiers</strong></p>
<p class="p3">Les donn&eacute;es personnelles peuvent &ecirc;tre transmises aux pr&eacute;pos&eacute;s, collaborateurs, sous-traitants ou fournisseurs de JVGO Business Builder qui offrent des garanties de s&eacute;curit&eacute; des donn&eacute;es ad&eacute;quates, et qui collaborent avec JVGO Business Builder dans le cadre de la commercialisation de produits ou de la fourniture de services. Ils agissent sous l&apos;autorit&eacute; directe de JVGO Business Builder, et sont notamment responsables de recueillir, de traiter ou de sous-traiter ces donn&eacute;es.</p>
<p class="p3">Dans tous les cas, les destinataires des donn&eacute;es et ceux &agrave; qui ces donn&eacute;es ont &eacute;t&eacute; divulgu&eacute;es respectent le contenu de la pr&eacute;sente Politique de confidentialit&eacute;.</p>
<p class="p3">JVGO Business Builder assure qu&apos;ils traiteront ces donn&eacute;es aux seules finalit&eacute;s pr&eacute;vues, de fa&ccedil;on discr&egrave;te et s&eacute;curis&eacute;e.</p>
<p class="p3">Dans l&apos;hypoth&egrave;se o&ugrave; les donn&eacute;es seraient divulgu&eacute;es &agrave; des tiers &agrave; des fins de marketing direct ou de prospection, l&apos;Utilisateur en sera pr&eacute;alablement inform&eacute; pour qu&apos;il exprime son consentement &agrave; l&apos;utilisation de ces donn&eacute;es personnelles.</p>
<p class="p2"><br></p>
<p class="p3"><strong>8. Droits des Utilisateurs</strong></p>
<p class="p3">&Agrave; tout moment, l&apos;Utilisateur peut exercer ses droits en envoyant un message par courrier &eacute;lectronique &agrave; l&apos;adresse suivante :<span class="Apple-converted-space">&nbsp;&nbsp;</span>info.jvgo@gmail.com, ou une lettre par voie postale adress&eacute;e, en joignant une copie de sa carte d&apos;identit&eacute; &agrave; l&apos;adresse suivante : Avenue Louise 207, 1050 Bruxelles, Belgique. <span class="Apple-converted-space">&nbsp;</span></p>
<ul class="ul1">
    <li class="li3">Droit d&apos;acc&egrave;s<span class="Apple-converted-space">&nbsp;</span></li>
</ul>
<p class="p5">Conform&eacute;ment &agrave; l&apos;article 15 du R&egrave;glement, JVGO Business Builder garantit le droit d&apos;acc&egrave;s &agrave; l&apos;Utilisateur &agrave; ses donn&eacute;es personnelles. L&apos;Utilisateur a le droit d&apos;obtenir l&apos;acc&egrave;s auxdites donn&eacute;es &agrave; caract&egrave;re personnel ainsi que les informations suivantes :<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p5">- les finalit&eacute;s du traitement&nbsp;;</p>
<p class="p5">- les cat&eacute;gories de donn&eacute;es &agrave; caract&egrave;re personnel concern&eacute;es&nbsp;;</p>
<p class="p5">- les destinataires ou cat&eacute;gories de destinataires auxquels les donn&eacute;es &agrave; caract&egrave;re personnel ont &eacute;t&eacute; ou seront communiqu&eacute;es, en particulier les destinataires qui sont &eacute;tablis dans des pays tiers ou les organisations internationales ;</p>
<p class="p5">- lorsque cela est possible, la dur&eacute;e de conservation des donn&eacute;es &agrave; caract&egrave;re personnel envisag&eacute;e ou, lorsque ce n&apos;est pas possible, les crit&egrave;res utilis&eacute;s pour d&eacute;terminer cette dur&eacute;e ;</p>
<p class="p6"><br></p>
<p class="p5">L&rsquo;existence d&apos;une prise de d&eacute;cision automatis&eacute;e, y compris un profilage, vis&eacute;e &agrave; l&apos;article 22, paragraphes 1 et 4 du R&egrave;glement, et, au moins en pareils cas, des informations utiles concernant la logique sous-jacente, ainsi que l&apos;importance et les cons&eacute;quences pr&eacute;vues de ce traitement pour la personne concern&eacute;e.</p>
<p class="p5">Le Responsable du Traitement peut exiger le paiement de frais raisonnables bas&eacute;s sur les co&ucirc;ts administratifs pour toute copie suppl&eacute;mentaire demand&eacute;e par l&apos;Utilisateur.</p>
<p class="p5">Lorsque l&apos;Utilisateur introduit cette demande par voie &eacute;lectronique (par le biais de l&apos;adresse &eacute;lectronique par exemple), les informations sont fournies sous une forme &eacute;lectronique d&apos;usage courant, &agrave; moins que l&apos;Utilisateur ne demande qu&apos;il en soit autrement.</p>
<p class="p5">La copie de ses donn&eacute;es sera communiqu&eacute;e &agrave; l&apos;Utilisateur au plus tard dans le mois apr&egrave;s la r&eacute;ception de la demande.</p>
<p class="p6"><br></p>
<ul class="ul1">
    <li class="li3">Droit de rectification</li>
</ul>
<p class="p5">JVGO Business Builder garantit le droit de rectification et d&apos;effacement des donn&eacute;es personnelles &agrave; l&apos;utilisateur.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p5">Conform&eacute;ment &agrave; l&apos;article 16 du R&egrave;glement, les donn&eacute;es incorrectes, inexactes ou non-pertinentes peuvent &ecirc;tre corrig&eacute;es ou effac&eacute;es &agrave; tout moment. L&apos;Utilisateur proc&egrave;de d&apos;abord lui-m&ecirc;me aux modifications n&eacute;cessaires depuis son compte utilisateur/autre, sauf si celles-ci ne peuvent &ecirc;tre effectu&eacute;es de mani&egrave;re autonome, dans quel cas la demande peut en &ecirc;tre faite aupr&egrave;s de JVGO Business Builder.</p>
<p class="p6"><br></p>
<p class="p5">Conform&eacute;ment &agrave; l&apos;article 19 du R&egrave;glement, le Responsable du traitement notifie &agrave; chaque destinataire auquel les donn&eacute;es &agrave; caract&egrave;re personnel ont &eacute;t&eacute; communiqu&eacute;es toute rectification des donn&eacute;es &agrave; caract&egrave;re personnel, &agrave; moins qu&apos;une telle communication se r&eacute;v&egrave;le impossible ou exige des efforts disproportionn&eacute;s. Le responsable du traitement fournit &agrave; la personne concern&eacute;e des informations sur ces destinataires si celle-ci en fait la demande.</p>
<p class="p6"><br></p>
<ul class="ul1">
    <li class="li3">Droit &agrave; l&apos;effacement</li>
</ul>
<p class="p5">L&apos;Utilisateur a le droit d&apos;obtenir l&apos;effacement de ses donn&eacute;es personnelles dans les meilleurs d&eacute;lais dans les hypoth&egrave;ses &eacute;num&eacute;r&eacute;es &agrave; l&apos;article 17 du R&egrave;glement.</p>
<p class="p5">Lorsque le Responsable de Traitement a rendu publiques les donn&eacute;es &agrave; caract&egrave;re personnel et qu&apos;il est tenu de les effacer en vertu du paragraphe pr&eacute;c&eacute;dent, le Responsable du traitement, compte tenu des technologies disponibles et des co&ucirc;ts de mise en &oelig;uvre, prend des mesures raisonnables, y compris d&apos;ordre technique, pour informer les autres responsables du traitement qui traitent ces donn&eacute;es &agrave; caract&egrave;re personnel que la personne concern&eacute;e a demand&eacute; l&apos;effacement par ces responsables du traitement de tout lien vers ces donn&eacute;es &agrave; caract&egrave;re personnel, ou de toute copie ou reproduction de celles-ci.</p>
<p class="p5">Les deux paragraphes pr&eacute;c&eacute;dents ne s&apos;appliquent pas dans la mesure o&ugrave; ce traitement est n&eacute;cessaire :</p>
<p class="p5">- &agrave; l&apos;exercice du droit &agrave; la libert&eacute; d&apos;expression et d&rsquo;information ;</p>
<p class="p5">- pour respecter une obligation l&eacute;gale qui requiert le traitement pr&eacute;vu par le droit de l&apos;Union ou par le droit de l&apos;&Eacute;tat membre auquel le responsable du traitement est soumis, ou pour ex&eacute;cuter une mission d&apos;int&eacute;r&ecirc;t public ou relevant de l&apos;exercice de l&apos;autorit&eacute; publique dont est investi le responsable du traitement ;</p>
<p class="p5">- &agrave; la constatation, &agrave; l&apos;exercice ou &agrave; la d&eacute;fense de droits en justice.</p>
<p class="p6"><br></p>
<p class="p5">Conform&eacute;ment &agrave; l&apos;article 19 du R&egrave;glement, le Responsable du traitement notifie &agrave; chaque destinataire auquel les donn&eacute;es &agrave; caract&egrave;re personnel ont &eacute;t&eacute; communiqu&eacute;es tout effacement de donn&eacute;es &agrave; caract&egrave;re personnel ou toute limitation du traitement effectu&eacute;, &agrave; moins qu&apos;une telle communication se r&eacute;v&egrave;le impossible ou exige des efforts disproportionn&eacute;s. Le responsable du traitement fournit &agrave; la personne concern&eacute;e des informations sur ces destinataires si celle-ci en fait la demande.</p>
<p class="p6"><br></p>
<ul class="ul1">
    <li class="li3">Droit de limitation du traitement</li>
</ul>
<p class="p5">L&apos;Utilisateur a le droit d&apos;obtenir la limitation du traitement de ses donn&eacute;es personnelles dans les hypoth&egrave;ses &eacute;num&eacute;r&eacute;es &agrave; l&apos;article 19 du R&egrave;glement.</p>
<p class="p5">Conform&eacute;ment &agrave; l&apos;article 19 du R&egrave;glement, le Responsable du traitement notifie &agrave; chaque destinataire auquel les donn&eacute;es &agrave; caract&egrave;re personnel ont &eacute;t&eacute; communiqu&eacute;es toute limitation du traitement effectu&eacute;, &agrave; moins qu&apos;une telle communication se r&eacute;v&egrave;le impossible ou exige des efforts disproportionn&eacute;s. Le responsable du traitement fournit &agrave; la personne concern&eacute;e des informations sur ces destinataires si celle-ci en fait la demande.</p>
<p class="p6"><br></p>
<ul class="ul1">
    <li class="li3">Droit de portabilit&eacute; des donn&eacute;es</li>
</ul>
<p class="p5">Conform&eacute;ment &agrave; l&apos;article 20 du R&egrave;glement, les Utilisateurs ont le droit de recevoir de JVGO Business Builder les donn&eacute;es &agrave; caract&egrave;re personnel les concernant dans un format structur&eacute;, couramment utilis&eacute; et lisible par machine. Les Utilisateurs ont le droit de transmettre ces donn&eacute;es &agrave; un autre responsable du traitement sans que JVGO Business Builder y fasse obstacle dans les cas pr&eacute;vus par le R&egrave;glement.</p>
<p class="p6"><br></p>
<p class="p5">Lorsque l&apos;Utilisateur exerce son droit &agrave; la portabilit&eacute; des donn&eacute;es en application du paragraphe pr&eacute;c&eacute;dent, elle a le droit d&apos;obtenir que les donn&eacute;es &agrave; caract&egrave;re personnel soient transmises directement d&apos;un responsable du traitement &agrave; un autre, lorsque cela est techniquement possible.</p>
<p class="p5">L&apos;exercice du droit de portabilit&eacute; des donn&eacute;es s&apos;entend sans pr&eacute;judice du droit &agrave; l&apos;effacement. Ce droit ne s&apos;applique pas au traitement n&eacute;cessaire &agrave; l&apos;ex&eacute;cution d&apos;une mission d&apos;int&eacute;r&ecirc;t public ou relevant de l&apos;exercice de l&apos;autorit&eacute; publique dont est investi le responsable du traitement.</p>
<p class="p5">Le droit de portabilit&eacute; des donn&eacute;es ne porte pas atteinte aux droits et libert&eacute;s de tiers.</p>
<p class="p6"><br></p>
<ul class="ul1">
    <li class="li3">Droit d&apos;opposition et prise de d&eacute;cision individuelle automatis&eacute;e<span class="Apple-converted-space">&nbsp;</span></li>
</ul>
<p class="p5">L&apos;Utilisateur dispose &agrave; tout moment du droit de s&apos;opposer au traitement de ses donn&eacute;es personnelles en raison de sa situation particuli&egrave;re, y compris l&apos;automatisation des donn&eacute;es effectu&eacute;e par JVGO Business Builder. Conform&eacute;ment &agrave; l&apos;article 21 du R&egrave;glement, JVGO Business Builder ne traitera plus les donn&eacute;es &agrave; caract&egrave;re personnel, &agrave; moins qu&apos;il existe des motifs l&eacute;gitimes et imp&eacute;rieux pour le traitement qui pr&eacute;valent sur les int&eacute;r&ecirc;ts et les droits et libert&eacute;s de l&apos;Utilisateur, ou pour la constatation, l&apos;exercice ou la d&eacute;fense de droits en justice.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p5">Lorsque les donn&eacute;es &agrave; caract&egrave;re personnel sont trait&eacute;es &agrave; des fins de prospection, l&apos;Utilisateur a le droit de s&apos;opposer &agrave; tout moment au traitement des donn&eacute;es &agrave; caract&egrave;re personnel la concernant &agrave; de telles fins de prospection, y compris au profilage dans la mesure o&ugrave; il est li&eacute; &agrave; une telle prospection.</p>
<p class="p5">Lorsque la personne concern&eacute;e s&apos;oppose au traitement &agrave; des fins de prospection, les donn&eacute;es &agrave; caract&egrave;re personnel ne sont plus trait&eacute;es &agrave; ces fins.</p>
<p class="p6"><br></p>
<ul class="ul1">
    <li class="li3">Droit de plainte</li>
</ul>
<p class="p5">L&apos;Utilisateur dispose du droit d&apos;introduire une plainte concernant le traitement de ses donn&eacute;es personnelles par JVGO Business Builder aupr&egrave;s de l&apos;Autorit&eacute; de Protection des Donn&eacute;es, comp&eacute;tente pour le territoire belge. De plus amples informations peuvent &ecirc;tre trouv&eacute;es sur le site internet : https://www.autoriteprotectiondonnees.be.</p>
<p class="p5">L&apos;introduction d&apos;une plainte se fait aux adresses suivantes :<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p5">Autorit&eacute; de Protection des Donn&eacute;es</p>
<p class="p5">Rue de la Presse 35, 1000 Bruxelles</p>
<p class="p5">T&eacute;l. + 32 2 274 48 00</p>
<p class="p5">Fax. + 32 2 274 48 35</p>
<p class="p5">E-mail : contact@apd-gba.be</p>
<p class="p6"><br></p>
<p class="p5">L&apos;Utilisateur peut &eacute;galement introduire une plainte aupr&egrave;s du tribunal de premi&egrave;re instance de son domicile.</p>
<p class="p6"><br></p>
<p class="p6"><br></p>
<p class="p6"><br></p>
<p class="p3"><strong>9. Cookies</strong></p>
<p class="p3">Le Site utilise des cookies pour distinguer les Utilisateurs du Site. Cela permet de fournir aux Utilisateurs une meilleure exp&eacute;rience de navigation et une am&eacute;lioration du Site et de son contenu. Les objectifs et modalit&eacute;s des cookies sont contenus dans ce pr&eacute;sent article.</p>
<ul class="ul1">
    <li class="li3">Principes g&eacute;n&eacute;raux</li>
</ul>
<p class="p5">Un &quot;Cookie&quot; est un fichier d&eacute;pos&eacute; temporairement ou de fa&ccedil;on permanente sur le disque dur de l&apos;Utilisateur lors de la consultation du Site Internet, en vue d&apos;une connexion ult&eacute;rieure. Gr&acirc;ce aux cookies, le serveur reconna&icirc;t l&apos;ordinateur de l&apos;Utilisateur.</p>
<p class="p5">Les cookies peuvent aussi &ecirc;tre install&eacute;s par des tiers avec lesquels JVGO Business Builder collabore.</p>
<p class="p5">Certains des cookies utilis&eacute;s par JVGO Business Builder sont n&eacute;cessaires au bon fonctionnement du Site, d&apos;autres permettent d&apos;am&eacute;liorer l&apos;exp&eacute;rience de l&apos;Utilisateur.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p5">L&apos;Utilisateur peut personnaliser ou d&eacute;sactiver les cookies en param&eacute;trant son navigateur.</p>
<p class="p5">En utilisant le Site Internet, l&apos;Utilisateur marque express&eacute;ment son accord avec la gestion des cookies telle que d&eacute;crite dans le pr&eacute;sent article.</p>
<ul class="ul1">
    <li class="li3">Type de cookies et finalit&eacute;s poursuivies</li>
</ul>
<p class="p5">Diff&eacute;rents types de cookies sont utilis&eacute;s par JVGO Business Builder sur le Site :</p>
<p class="p5">- Les cookies techniques : ils sont n&eacute;cessaires &agrave; l&apos;exploitation du Site Internet, permettent la communication des donn&eacute;es introduites et sont destin&eacute;s &agrave; faciliter la navigation de l&apos;Utilisateur ;</p>
<p class="p5">- Les cookies de mesures statistiques et d&apos;audience : ces cookies permettent la reconnaissance de l&apos;Utilisateur et sont utilis&eacute;s afin de comptabiliser le nombre d&apos;Utilisateurs du Site Internet sur une certaine p&eacute;riode. D&egrave;s lors qu&apos;ils indiquent aussi le comportement de navigation, ils sont un moyen efficace pour am&eacute;liorer la navigation de l&apos;Utilisateur, en lui affichant des propositions et offres susceptibles de l&apos;int&eacute;resser. Ils permettent aussi &agrave; JVGO Business Builder de rep&eacute;rer les possibles bugs sur le Site Internet et de les corriger.</p>
<p class="p5">- Les cookies fonctionnels : ces cookies facilitent l&apos;utilisation du Site Internet en retenant certains choix introduits (par exemple, le nom d&apos;utilisateur ou la langue) ;</p>
<p class="p5">- Les cookies de tra&ccedil;age : JVGO Business Builder utilise des cookies de tra&ccedil;age via Google Analytics, pour mesurer l&apos;interaction des Utilisateurs avec le contenu du Site et produire des statistiques anonymes. Ces statistiques permettent &agrave; JVGO Business Builder de perfectionner le Site Internet. Google &eacute;taye l&apos;explication de ces cookies &agrave; l&apos;adresse suivante : http://www.google.nl/intl/en_uk/policies/privacy/</p>
<p class="p6"><br></p>
<ul class="ul1">
    <li class="li3">D&eacute;lai de conservation des cookies</li>
</ul>
<p class="p5">Les cookies sont conserv&eacute;s pour le temps n&eacute;cessaire &agrave; l&apos;accomplissement de la finalit&eacute; poursuivie. Les cookies susceptibles d&apos;&ecirc;tre stock&eacute;s sur le disque dur de l&apos;Utilisateur ainsi que leur d&eacute;lai de conservation sont les suivants :<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p5">-GA&nbsp;: 1 an<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p5">-PTR&nbsp;: 1 an</p>
<p class="p6"><br></p>
<ul class="ul1">
    <li class="li3">Gestion des cookies</li>
</ul>
<p class="p5">Si l&apos;Utilisateur ne veut pas que le Site Internet place des cookies sur son disque dur, il lui est ais&eacute; de les g&eacute;rer ou les supprimer en modifiant les param&egrave;tres de son navigateur. La programmation du navigateur permet aussi &agrave; l&apos;Utilisateur de recevoir un avis ou une notification d&egrave;s qu&apos;un Site Internet utilise des cookies et ainsi d&eacute;cider d&apos;accepter cela, ou de le refuser.</p>
<p class="p5">Si l&apos;Utilisateur d&eacute;sactive certains cookies, il accepte que le Site Internet puisse ne pas fonctionner de mani&egrave;re optimale. Certaines parties du Site Internet pourraient ainsi ne pas &ecirc;tre utilisables, ou l&apos;&ecirc;tre partiellement.</p>
<p class="p5">Si l&apos;Utilisateur souhaite ainsi g&eacute;rer et/ou supprimer certains cookies, il peut le faire en utilisant le/les lien(s) suivant(s) :</p>
<p class="p5">- Pour les Utilisateurs ayant comme navigateur&nbsp;Internet Explorer : http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies</p>
<p class="p5">- Pour les Utilisateurs ayant comme navigateur&nbsp;Microsoft Edge : http://windows.microsoft.com/en-gb/windows-10/edge-privacy-faq&lt;/li&gt;</p>
<p class="p5">- Pour les Utilisateurs ayant comme navigateur&nbsp;Chrome : https://support.google.com/accounts/answer/61416?hl=fr&lt;/li&gt;</p>
<p class="p5">- Pour les Utilisateurs ayant comme navigateur&nbsp;Firefox : https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences</p>
<p class="p5">- Pour les Utilisateurs ayant comme navigateur&nbsp;Safari : https://support.apple.com/kb/ph21411?locale=fr_CA&lt;/li&gt;</p>
<p class="p6"><br></p>
<p class="p5">Si l&apos;Utilisateur refuse que les cookies de Google Analytics soient utilis&eacute;s, il est invit&eacute; &agrave; param&eacute;trer son navigateur en ce sens, sur le site web suivant : http://tools.google.com/dlpage/gaoptout.</p>
<p class="p6"><br></p>
<p class="p2"><br></p>
<p class="p2"><br></p>
<p class="p2"><br></p>
<p class="p2"><br></p>
<p class="p3"><strong>10. Avertissement en cas de violation des donn&eacute;es personnelles</strong></p>
<p class="p3">Au cas o&ugrave; il y aurait un risque pour vos donn&eacute;es, JVGO Business Builder vous avertira par email ainsi que les autorit&eacute;s de surveillance comp&eacute;tentes dans les 72 heures. Ce courriel contiendra des informations sur le degr&eacute; d&rsquo;intrusion, les donn&eacute;es concern&eacute;es, l&rsquo;impact sur le Service, ainsi que sur le plan d&rsquo;action et les mesures envisag&eacute;es pour s&eacute;curiser les donn&eacute;es et limiter les effets n&eacute;fastes potentiels pour les personnes concern&eacute;es.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p2"><br></p>
<p class="p7"><strong>11. Donn&eacute;es transf&eacute;r&eacute;es hors EU</strong></p>
<p class="p8">En cas de navigation sur le site www.jvgo.be (Voir Article Cookies) ou contractualisation avec JVGO Business Builder, certains destinataires de vos donn&eacute;es&nbsp;sont situ&eacute;s en dehors de l&rsquo;Union europ&eacute;enne. Les garanties suivantes ont &eacute;t&eacute; prises pour s&rsquo;assurer d&rsquo;un niveau de protection suffisant de vos informations :<br>- Le ou les destinataires adh&egrave;rent aux principes du &laquo; Privacy Shield &raquo; ;<br>-<span class="Apple-converted-space">&nbsp;&nbsp;</span>Le transfert est encadr&eacute;, conform&eacute;ment aux exigences du R&egrave;glement europ&eacute;en n&deg;2016/679/UE du 27 avril 2016, notamment par des clauses types de protection adopt&eacute;es par la Commission europ&eacute;enne.</p>
<p class="p8">JVGO Business Builder surveillera l&rsquo;adh&eacute;sion de ses sous-traitants &agrave; ces normes afin de s&rsquo;assurer que les exigences en mati&egrave;re de protection des donn&eacute;es soient satisfaites.</p>
<p class="p8">JVGO Business Builder ne vend, n&rsquo;&eacute;change ni ne transf&egrave;re d&rsquo;aucune autre mani&egrave;re la moindre information personnelle identifiable &agrave; des parties ext&eacute;rieures. Cela n&rsquo;inclut pas les tierces parties ou sous-traitants qui nous apportent leur contribution dans le fonctionnement de notre site, de notre entreprise et de nos services. Ces tierces parties peuvent avoir acc&egrave;s &agrave; des informations personnelles identifiables au cas par cas et seront contractuellement oblig&eacute;es de maintenir la confidentialit&eacute; de vos informations.</p>
<p class="p2"><br></p>
<p class="p3"><strong>12. Limitation de responsabilit&eacute; du Responsable de traitement</strong></p>
<p class="p3">Le site Internet peut contenir des liens vers d&apos;autres sites internet d&eacute;tenus par des tiers non li&eacute;s &agrave; JVGO Business Builder. Le contenu de ces sites et le respect de ceux-ci au regard de la Loi et du R&egrave;glement ne rel&egrave;vent pas de la responsabilit&eacute; de JVGO Business Builder.<span class="Apple-converted-space">&nbsp;</span></p>
<p class="p3">Le titulaire de l&apos;autorit&eacute; parentale doit donner son consentement expr&egrave;s pour que le mineur de moins de 16 ans puisse divulguer des informations ou donn&eacute;es personnelles sur le site Internet.</p>
<p class="p3">JVGO Business Builder conseille vivement aux personnes exer&ccedil;ant l&apos;autorit&eacute; parentale sur des mineurs de promouvoir une utilisation responsable et s&eacute;curis&eacute;e d&apos;Internet. Le Responsable de traitement ne peut &ecirc;tre tenu responsable pour avoir collect&eacute; et trait&eacute; des informations et donn&eacute;es personnelles de mineurs de moins de 16 ans dont le consentement n&apos;est pas effectivement couvert par celui de leurs parents l&eacute;gaux ou pour des donn&eacute;es incorrectes - notamment concernant l&apos;&acirc;ge - introduites par des mineurs. En aucun cas, des donn&eacute;es personnelles ne seront trait&eacute;es par le Responsable de traitement si l&apos;Utilisateur pr&eacute;cise qu&apos;il est &acirc;g&eacute; de moins de 16 ans.</p>
<p class="p3">JVGO Business Builder n&apos;est pas responsable de la perte, de la corruption ou du vol de donn&eacute;es personnelles caus&eacute;s notamment par la pr&eacute;sence de virus ou suite &agrave; des attaques informatiques.</p>
<p class="p2"><br></p>
<p class="p3"><strong>13. Droit applicable et juridiction comp&eacute;tente</strong></p>
<p class="p3">La pr&eacute;sente Politique de confidentialit&eacute; est exclusivement r&eacute;gie par le droit belge. Tout litige sera port&eacute; devant les tribunaux de l&apos;arrondissement judiciaire du si&egrave;ge social de JVGO Business Builder.</p>
<p class="p2"><br></p>
<p class="p3"><strong>14. Contact</strong></p>
<p class="p3">Pour toute question ou r&eacute;clamation relative &agrave; la pr&eacute;sente Politique de confidentialit&eacute;, l&apos;Utilisateur peut contacter le Responsable du traitement via l&apos;adresse suivant&nbsp;: info.jvgo@gmail.com.</p>
<p class="p2"><br></p>
		</div>
	</div>
</div>
		
{% endblock %}
