{% extends 'base.html.twig' %}

{% block title %}Nos services | JVGO Business Builder{% endblock %}

{% block stylesheets %}
    <style>
        .chevron-down {
            animation: updown 2s ease infinite;
        }

        @keyframes updown {
            0% {
                transform: translateY(-50%);
            }

            50% {
                transform: translateY(50%);
            }

            100% {
                transform: translateY(-50%);
            }
        }

        .form-control {
            padding: 10px 15px;
            border-radius: 4px;
            height: 50px;
            line-height: 50px;
            background-color: #f4f5f8;
            border-color: #f4f5f8;
        }
    </style>
{% endblock %}

{% block body %}

<!-- START HOME -->
<section class="welcome-area">
    <div class="welcome-slider-area">
        <div id="welcome-slide-carousel" class="carousel slide">
            <div class="single-slide-item" style="background-image: url(/assets/img/61206588_m.jpg); background-position: center; background-size: cover;">
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-12 text-center">
                                    <h2>NOS SERVICES</h2>
                                    <a href="#services"><i class="fa fa-chevron-down chevron-down" style="color: white;"></i></a>								
                                </div>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>	      
        </div>
    </div>
</section>
<!-- END  HOME DESIGN -->	

<!-- START ABOUT US -->
<section id="services" class="about_us section-padding" style="background-image: url(assets/img/bg-blob-gradient.svg); background-position: left; background-repeat: no-repeat; background-size: cover;">
    <div class="container">

        <div class="row align-items-center mt-2">
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="about-content">						
                    <div class="section-title text-left">									
                        <h3>CREATION D’ENTREPRISE</h3>	
                    </div>
                    <div class="d-block d-sm-none mb-4">
                        <img src="assets/img/creation.jpg" alt="about image">		
                    </div>
                    <p>
                        Vous êtes entrepreneur ou dirigeant ? <br><br>
                        Vous avez choisi de créer une entreprise afin de  mieux structurer vos activités et trouver de nouveaux clients ?<br><br>
                        Notre préoccupation majeure est de vous faciliter la vie (dans les formalités administratives), vous faire gagner du temps, faciliter vos démarches et rendre vos projets opérationnels le plus rapidement possible et dans les meilleures conditions, en vous permettant de faire les bons choix, vous constituer un dossier solide et trouver rapidement vos premiers clients!<br><br>
                        <strong>Notre process:</strong> <br>

                        01 Analyse conseil / Rédaction de votre business plan<br>
                        02 Analyse / Réalisation de votre étude de marché<br>
                        03 Assistance dans la rédaction du plan financier <br>
                        04 Les statuts = Rédaction des projets de statuts <br>
                        05 Le Notaire = Prise de contact avec le Notaire<br>
                        06 Dépôt des statuts = Dépôt et publication des statuts <br>
                        07 Compte bancaire = Ouverture d'un compte bancaire<br>
                        08 TVA = Activation de la TVA et de la Banque Carrefour des Entreprises
                    </p>
                    <a href="#contact" class="btn-home-border mt-2">CONSULTATION GRATUITE <i class="ti-arrow-right"></i></a>
                </div>
            </div><!--- END COL -->	

            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="about_img d-none d-sm-block">
                    <img src="assets/img/creation.jpg" alt="about image" style="border-radius: 8px">		
                </div>					
            </div><!--- END COL -->									             
        </div><!--- END ROW -->	

        <div class="row align-items-center mt-3">
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="about_img d-none d-sm-block">
                    <img src="assets/img/optimisation.jpg" alt="about image" style="border-radius: 8px">		
                </div>					
            </div><!--- END COL -->	

            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="about-content">						
                    <div class="section-title text-left">									
                        <h3>FISCALITE</h3>	
                    </div>
                    <div class="d-block d-sm-none mb-4">
                        <img src="assets/img/optimisation.jpg" alt="about image">		
                    </div>
                    <p>
                        Nous réalisons vos déclarations fiscales de type TVA, d’impôt des personnes physiques, des sociétés et autres.<br><br>
                        Nous vous défendons lors de contrôles fiscaux et vous apportons notre assistance technique et juridique dans le cadre de toute procédure de réclamation.<br><br>
                        <strong>Vérification des avertissements-extraits de rôle et Conseil fiscal</strong><br><br>
                        L’optimalisation : notre schéma fiscal optimum est en accord avec votre objectif final. Nous vous vous accompagnons dans l’amélioration de vos différentes formes de rémunérations !<br>
                        La planification fiscale et formalités connexes : notre planification fiscale tient compte de la complexité de votre situation.
                    </p>
                    <ul style="list-style: inherit; padding-left: 15px;">
                        <li><strong>Une optimisation salariale</strong> : nous mettons à votre disposition les outils légaux pour obtenir les mêmes revenus à moindre coût.</li>
                        <li><strong>Un tarif transparent</strong> : chez JVGO, les tarifs sont simples, transparents et connus à l’avance.</li>
                    </ul>
                    <a href="#contact" class="btn-home-border mt-2">CONSULTATION GRATUITE <i class="ti-arrow-right"></i></a>
                </div>
            </div><!--- END COL -->									             
        </div><!--- END ROW -->	

        <div class="row align-items-center mt-3">
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="about-content">						
                    <div class="section-title text-left">									
                        <h3>COMPTABILITE</h3>	
                    </div>
                    <div class="d-block d-sm-none mb-4">
                        <img src="assets/img/coaching.jpg" alt="about image">		
                    </div>
                    <p>
                        Notre action comptable améliore vos ratios, facilite votre compréhension des chiffres et devient un outil de gestion efficace.<br>
                        Comptabilité générale, Comptabilité analytique, Organisation, tenue, suivi de comptabilité, Etablissement des comptes annuels, Etablissement des déclarations périodiques, Rattrapage de comptabilité, Audit interne.<br>
                        Dépôt et publication des comptes annuels<br>
                        Nous facilitons votre publication de chiffres à la banque nationale. Nos outils d’analyses bilans évaluent le pouls et les paramètres de votre entreprise.<br>
                    </p>
                    <a href="#contact" class="btn-home-border mt-2">CONSULTATION GRATUITE <i class="ti-arrow-right"></i></a>
                </div>
            </div><!--- END COL -->	

            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="about_img d-none d-sm-block">
                    <img src="assets/img/coaching.jpg" alt="about image" style="border-radius: 8px">		
                </div>					
            </div><!--- END COL -->									             
        </div><!--- END ROW -->	

        <div class="row align-items-center mt-3">
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="about_img d-none d-sm-block">
                    <img src="assets/img/business.jpg" alt="about image" style="border-radius: 8px">		
                </div>					
            </div><!--- END COL -->	

            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="about-content">						
                    <div class="section-title text-left">									
                        <h3>COACHING</h3>	
                    </div>
                    <div class="d-block d-sm-none mb-4">
                        <img src="assets/img/business.jpg" alt="about image">		
                    </div>
                    <p>
                        Etre entrepreneur, c’est faire face à des challenges et des défis.<br><br>
                        Une prise de recul régulière est nécessaire pour faire le point et pour aller voir de plus près des angles morts impossibles à déceler seul(e).<br><br>
                        Le coaching, c’est l’occasion de :
                    </p>
                    <ul style="list-style: inherit; padding-left: 15px;">
                        <li>vérifier si vous êtes toujours en accord avec ce que vous faites aujourd’hui ou s’il y a des choses à changer</li>
                        <li>découvrir les modes de fonctionnement qui influencent votre manière de faire : introverti/extraverti-structuré/flexible</li>
                        <li>remettre en questions certaines croyances qui vous bloqueraient</li>
                        <li>vous rappeler que vous êtes aussi un corps avec des émotions et des pensées qui fonctionnent de façon interdépendante</li>
                        <li>regarder votre vie sous un angle plus global; il n’y a pas que le travail qui est important mais aussi vos relations, vos loisirs etc ... pour avoir un bon équilibre</li>
                        <li>travailler sur votre image pour que vos vêtements vous portent, en correspondant à votre énergie, et non l’inverse</li>
                    </ul>
                    <a href="#contact" class="btn-home-border mt-2">CONSULTATION GRATUITE <i class="ti-arrow-right"></i></a>
                </div>
            </div><!--- END COL -->									             
        </div><!--- END ROW -->	

    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT US -->

<!-- START Contact Us AREA -->		
<section id="contact" class="contact-us section-padding">
    <div class="container">				
        <div class="row align-items-center">					
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 mb-sm-0 mb-3" style="border-radius: 8px; background-color: white; padding-bottom: 15px; box-shadow: 0px 80px 120px -40px rgb(0 0 0 / 24%); transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;">
                <div class="section-title text-left wow zoomIn">
                    <h2 style="text-transform: uppercase; font-size: 25px; line-height: 2rem;">RÉSERVEZ VOTRE CONSULTATION<br> GRATUITE MAINTENANT</h2>
                </div>	
                <form class="contact-form" name="enq" method="post" action="{{path('home')}}" onsubmit="return validation();">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Entrer votre nom complet *" required="required">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" name="email" class="form-control" placeholder="Entrer votre adresse email *" required="required">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" name="phone" class="form-control" placeholder="Entrer votre votre numéro de téléphone *" required="required">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" name="subject" class="form-control" placeholder="Indiquer les prestations souhaiter *" required="required">
                        </div>
                        <div class="form-group col-md-12">
                            <textarea rows="6" name="message" class="form-control" placeholder="Décrivez votre demande" required="required"></textarea>
                        </div>
                        <div class="col-md-12 text-left">
                            <button type="submit" value="Send message" name="submit" class="btn-home-border" title="Submit Your Message!">Envoyer</button>
                        </div>
                    </div>
                </form>							
            </div><!-- END COL-->
            
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="single-contact">
                    <i class="ti-location-pin"></i>
                    <div class="contact-content">
                        Avenue Louise,<br>
                        2071050 Bruxelles, BELGIQUE
                    </div>
                </div><!-- END single-contact -->	

                <div class="single-contact">
                    <i class="ti-email"></i>
                    <div class="contact-content" style="margin-top: 15px;">
                        contact@jvgo.be
                    </div>
                </div><!-- END single-contact -->		

                <div class="single-contact">
                    <i class="fa fa-phone"></i>
                    <div class="contact-content" style="margin-top: 15px;">
                        <a href="#">+32 (0)4 775 068 67</a>
                    </div>
                </div><!-- END single-contact -->									
            </div><!-- END Col -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->	
</section>
<!-- END Contact Us -->

		
{% endblock %}
