{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter un article | JVGO{% endblock %}

{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h2 style="font-size: 24px; font-weight: 700;">{{ edit == true ? 'Modifier l\'' : 'Nouvel '}}article</h2>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="mt-1 btn btn-primary">Publier</button>
                {{ form_end(form) }}
            </div>
        </div><!-- /.row (main row) -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
      $(function () {
        $(".textarea").wysihtml5();
        CKEDITOR.replace('article_description');
      });
    </script>
{% endblock %}
